html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 4rem;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: black; */
}

.main {
  padding: 2rem 3rem 0 3rem;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem 1rem 1rem; */
}

.profile-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.profile-container .current-user-profile-picture {
  width: 2.5rem;
  border-radius: 50%;
  grid-row: 1 / 3;
  
}

.current-user-name,
.current-user-handle {
  padding-left: 1rem;
}

.current-user-handle {
  grid-column: 2/3;
  grid-row: 2/3;
}

.action-row {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.filter-button,
.stats-button,
.new-book-button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.filter-button {
  background-color: aquamarine;
}

.stats-button {
  background-color: rgb(255, 200, 127);
}

.new-book-button {
  background-color: rgb(157, 127, 255);
}

.filter-button:active {
  background-color: rgb(110, 25, 189);
}

.bookshelf {
  margin: 1.5rem 0 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  /* grid-auto-flow: column; */
}

.book {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  background-color: lightsteelblue;
  padding: 1rem;
  border-radius: 1rem;
  /* align-items: center; */
}

.book-cover {
  height: 20rem;
  width: 13rem;
  cursor: pointer;
  align-self: center;
}

.book-author {
  margin-top: 1rem;
}

.book-title {

  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-info div:nth-child(3) {
  margin-top: 1rem;
}

.book-info div:nth-child(n + 3) {
  border-top: solid 1px gray;
  padding: 1rem 0 1rem 0;
}

.book-info div:last-child {
  border-top: none;
}

.manage-book-button-container {
  display: flex;
  justify-content: end;
}

.manage-book-button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}



.remove-book {
  position: relative;
  align-self: flex-start;
  width: 1.5rem;
}

/* new book modal */
.new-book-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  animation: fadeIn 300ms;
  transition: opacity 300ms;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.new-book-modal-closed {
  opacity: 0;
}

.new-book-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 40%;
  width: 350px;
  height: 350px;
  margin-left: -175px;
  margin-top: -175px;
  align-self: center;

  padding: 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: auto;
  background-color: rgb(200, 183, 255);
  border-radius: 1rem;
}

.new-book-modal-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
  width: 80%;
}

.form-row label,
legend {
  font-size: 1.3rem;
  font-weight: 600;
}

input#title,
input#author,
input#pages{
  width: 90%;
  border: 2px black solid;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

input[type='radio'] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
}

.radio-container label{
  font-weight: 400;
}

input[type='radio']:checked {
  border: 3px solid black;
  background-color: rgb(171, 155, 222);
}

.type-row {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* gap: 1rem; */
}

.type-row input {
  margin: 1rem 1rem 0 0;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.status-row {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 1rem; */
  font-size: 1.2rem;
}

.status-row input {
  margin: 1rem 1rem 0 0;
}

.rating-row {
  display: none;
}

.stars {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.star {
  width: 2.5rem;
}

.submit-row {
  display: flex;
  justify-content: center;
}

#submit-new-book-button {
  align-self: center;
  border: none;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  cursor: select;
}

/* manage book modal */
.manage-book-modal {
  display: none;
  /* display: flex; */
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  animation: fadeIn 300ms;
  transition: opacity 300ms;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.manage-book-modal-closed {
  opacity: 0;
}

.manage-book-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 40%;
  width: 350px;
  height: 350px;
  margin-left: -175px;
  margin-top: -175px;
  align-self: center;

  padding: 2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: auto;
  background-color: rgb(200, 183, 255);
  border-radius: 1rem;
}

.manage-book-modal-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}